<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="text-center">
                    <h1>ESTADISTICA DISPONIBLE</h1><br>
                    <div>
                    <button class="btn btn-warning" routerLink="/grafico-1">Mecanicos salario Año</button><br><br>
                    <button class="btn btn-warning" routerLink="/grafico-2">Comparativa Pintores Mecanicos</button><br><br>
                    <button class="btn btn-warning">Top Reparaciones Vehiculos</button><br><br>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


