<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="text-center">
                    <h1>ESTADISTICA DISPONIBLE</h1><br>
                    <div>
                    <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/grafico-1">Salario Año Empleados</button><br><br>
                    <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/grafico-2">Vehiculos Mas Valorizados</button><br><br>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
