<mat-toolbar color="accent">
    <mat-icon>settings</mat-icon>
    <span>Taller Dils</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Home</button>
    <button mat-button routerLink="/ver-clientes">Clientes</button>
    <button mat-button routerLink="/ver-empleados">Empleados</button>
    <button mat-button routerLink="/ver-vehiculos">Vehiculos</button>
    <button mat-button routerLink="/ver-reparaciones">Reparaciones</button>
    <button mat-button routerLink="/grafico-1">Graficos</button>
    <span class="example-spacer"></span>
    <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>
