<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="clienteForm" (ngSubmit)="crearCliente()">
                        <div class="mb-3">
                            <input type="text" formControlName="dni"
                             class="form-control" placeholder="DNI">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="nombre"
                             class="form-control" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="telefono"
                             class="form-control" placeholder="Telefono">
                        </div>
                        <div class="mt-3">
                            <button routerLink="" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" class="btn btn-success btn-lg float-end">ENVIAR</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

