<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="editDeportivoForm" (ngSubmit)="crearDeportivo()">
                        <div class="cuidado" *ngIf="editDeportivoForm.get('DNIpropietario')?.hasError('required') && editDeportivoForm.get('DNIpropietario')?.touched">
                            <span><strong style="color: #FCBE11;">DNI PROPIETARIO</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text"  formControlName="DNIpropietario"
                             class="form-control" id="floatingInputInvalid"> 
                             <label for="floatingInputInvalid">DNI PROPIETARIO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('matricula')?.hasError('required') && editDeportivoForm.get('matricula')?.touched">
                            <span><strong style="color: #FCBE11;">MATRICULA</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text"  formControlName="matricula"
                             class="form-control" id="floatingInputInvalid"> 
                             <label for="floatingInputInvalid">MATRICULA VEHICULO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('marca')?.hasError('required') && editDeportivoForm.get('marca')?.touched">
                            <span><strong style="color: #FCBE11;">MARCA</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                         <div class="mb-3 form-floating">
                            <input type="text" formControlName="marca"
                             class="form-control">
                             <label for="floatingInputInvalid">MARCA VEHICULO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('modelo')?.hasError('required') && editDeportivoForm.get('modelo')?.touched">
                            <span><strong style="color: #FCBE11;">MODELO</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" formControlName="modelo"
                             class="form-control" id="floatingInputInvalid">
                             <label for="floatingInputInvalid">MODELO VEHICULO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('color')?.hasError('required') && editDeportivoForm.get('color')?.touched">
                            <span><strong style="color: #FCBE11;">COLOR</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            
                            <input type="text" formControlName="color"
                             class="form-control" id="floatingInputInvalid">
                             <label for="floatingInputInvalid">COLOR VEHICULO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('precio')?.hasError('required') && editDeportivoForm.get('precio')?.touched">
                            <span><strong style="color: #FCBE11;">PRECIO</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="number" formControlName="precio"
                             class="form-control" id="floatingInputInvalid">
                             <label for="floatingInputInvalid">VALOR VEHICULO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('tVehiculo')?.hasError('required') && editDeportivoForm.get('tVehiculo')?.touched">
                            <span><strong style="color: #FCBE11;">TIPO VEHICULO</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" formControlName="tVehiculo"
                             class="form-control" id="floatingInputInvalid">
                             <label for="floatingInputInvalid">TIPO DE VEHICULO</label>
                        </div>
                        <div class="cuidado" *ngIf="editDeportivoForm.get('potencia')?.hasError('required') && editDeportivoForm.get('potencia')?.touched">
                            <span><strong style="color: #FCBE11;">POTENCIA</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        
                        <div class="form-floating mb-3" id="floatingSelect2">
                            <input type="number" formControlName="potencia"
                             class="form-control">
                            <label for="floatingSelect2">POTENCIA MOTOR</label>
                        </div>
                     
                        <div class="mt-3">
                            <button routerLink="/ver-vehiculos" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" class="btn btn-success btn-lg float-end">ENVIAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
