<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="editMecanicoForm" (ngSubmit)="crearMecanico()">
                        <div class="cuidado" *ngIf="editMecanicoForm.get('tipoEmpleado')?.hasError('required') && editMecanicoForm.get('tipoEmpleado')?.touched">
                            <span><strong style="color: #FCBE11;">TIPO EMPLEADO</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" formControlName="tipoEmpleado"
                             class="form-control ">
                             <label for="floatingInputInvalid">TIPO EMPLEADO</label>
                        </div>
                        <div class="cuidado" *ngIf="editMecanicoForm.get('dni')?.hasError('required') && editMecanicoForm.get('dni')?.touched">
                            <span><strong style="color: #FCBE11;">DNI</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" formControlName="dni"
                             class="form-control ">
                             <label for="floatingInputInvalid">DNI EMPLEADO</label>
                        </div>
                        <div class="cuidado" *ngIf="editMecanicoForm.get('nombre')?.hasError('required') && editMecanicoForm.get('nombre')?.touched">
                            <span><strong style="color: #FCBE11;">NOMBRE</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" formControlName="nombre"
                             class="form-control">
                             <label for="floatingInputInvalid">NOMBRE EMPLEADO</label>
                        </div>
                        <div class="cuidado" *ngIf="editMecanicoForm.get('fechaContratacion')?.hasError('required') && editMecanicoForm.get('fechaContratacion')?.touched">
                            <span><strong style="color: #FCBE11;">FECHA</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text"  formControlName="fechaContratacion"
                             class="form-control" >
                             <label for="floatingInputInvalid">FECHA CONTRATACION</label>
                        </div>
                        <div class="cuidado" *ngIf="editMecanicoForm.get('sueldoMes')?.hasError('required') && editMecanicoForm.get('sueldoMes')?.touched">
                            <span><strong style="color: #FCBE11;">SUELDO</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="number" formControlName="sueldoMes"
                             class="form-control" >
                             <label for="floatingInputInvalid">SUELDO MES</label>
                        </div>
                        <div class="cuidado" *ngIf="editMecanicoForm.get('horasExtra')?.hasError('required') && editMecanicoForm.get('horasExtra')?.touched">
                            <span><strong style="color: #FCBE11;">HORAS EXTRA</strong> es un campo <strong style="color: red;">OBLIGATORIO</strong></span>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="number" formControlName="horasExtra"
                             class="form-control" >
                             <label for="floatingInputInvalid">HORAS EXTRA</label>
                        </div>
                        <div class="mt-3">
                            <button routerLink="/ver-empleados" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit"  class="btn btn-success btn-lg float-end">ENVIAR</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


