<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE VEHICULOS</span>
                    <table class="table mt-3" >
                        <thead class="table-dark">
                          <tr>
                            <th scope="col">Propietario</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Color</th>
                            <th scope="col">Valor del vehiculo</th>
                            <th scope="col">Tipo de Vehiculo</th>
                            <th scope="col">Traccion</th>
                            <th scope="col">Potencia en CV</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let vehiculos of listarVehiculos">
                            <th scope="row">{{vehiculos._DNIpropietario}}</th>
                            <th scope="row">{{vehiculos._matricula}}</th>
                            <td scope="row">{{vehiculos._marca}}</td>
                            <td scope="row">{{vehiculos._modelo}}</td>
                            <td scope="row">{{vehiculos._color}}</td>
                            <td scope="row">{{vehiculos._precio | currency: "EUR"}}</td>
                            <td scope="row">{{vehiculos._tipoVehiculo}}</td>
                            <td scope="row">{{vehiculos._traccion}}</td>
                            <td scope="row">{{vehiculos._potencia }}</td>
                            <td>
                              <i *ngIf="vehiculos._tipoVehiculo == 'Todoterreno'" [routerLink]="['/editar-todoterreno', vehiculos._matricula]" class="fas fa-pen-to-square"></i>
                                <i *ngIf="vehiculos._tipoVehiculo == 'Deportivo'" [routerLink]="['/editar-deportivo', vehiculos._matricula]" class="fas fa-pen-to-square"></i>
                                <i (click)="eliminarVehiculo(vehiculos._matricula)" class="fas fa-trash-can text-danger"></i>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="trans">
                         <button routerLink="/crear-vehiculo" class="btn btn-warning">
                          NUEVO VEHICULO
                        </button>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
  </div>