<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{ titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="empleadoForm" (ngSubmit)="crearEmpleado()">
                        <div class="form-floating mb-3">
                            <select formControlName="tipoEmpleado" class="form-select" id="floatingSelect1">
                                <option value="mecanico">Mecanico</option>
                                <option value="pintor">Pintor</option>
                            </select>
                            <label for="floatingSelect1">Tipo de Empleado</label>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="dni"
                             class="form-control" placeholder="DNI">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="nombre"
                             class="form-control" placeholder="Nombre empleado">
                        </div>
                        <div class="mb-3">
                            <input type="date" formControlName="fechaContratacion"
                             class="form-control" placeholder="Fecha Contratacion">
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="sueldoMes"
                             class="form-control" placeholder="Sueldo al mes">
                        </div>
                        <div class="mb-3">
                            <input type="number" *ngIf="empleadoForm.value.tipoEmpleado == 'mecanico'" formControlName="horasExtra"
                             class="form-control" placeholder="Horas Extra">
                        </div>
                        
                        <div class="form-floating mb-3" *ngIf="empleadoForm.value.tipoEmpleado == 'pintor'">
                           
                            <select formControlName="empresaContratista" class="form-select" id="floatingSelect2">
                                <option value="CEYDE PINTORES">CEYDE PINTORES</option>
                                <option value="PINTURAS SEVILLA">PINTURAS SEVILLA</option>
                                <option value="BENITO BRICOMARK">BENITO BRICOMARK</option>
                                
                            </select>
                            <label for="floatingSelect2">Empresa Pintor</label>
                        </div>
                        <div class="mt-3">
                            <button routerLink="/ver-empleados" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" class="btn btn-success btn-lg float-end">ENVIAR</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

